<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Artist</h1>

    <a href="/">Home</a> | <a href="/contact">Contact</a>
    <a href="/vmgo">VMGO</a> | <a href="/service">Services</a>

    <p>Name: Angelo C. Barbacena</p>
    <p>Course: Bachelor of Science in Information Technology</p>
    <p>Expertise: Traditional and Digital Style</p>
</body>
</html>