<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Us</h1>
    
    <a href="/">Home</a> | <a href="/about">About</a>
    <a href="/vmgo">VMGO</a> | <a href="/service">Services</a>

    <p>Contact: 09069010239</p>
    <p>G-mail: jelocolocado@gmail.com</p>
</body>
</html>