<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Open for Commission</h1>
    <p>FEEL FREE TO VIEW MY PAGE</p>
    <a href="/about">About</a> | <a href="/contact">Contact</a> 
    <a href="/vmgo">VMGO</a> | <a href="/service">Services</a>
</body>
</html>