<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMGO</title>
</head>
<body>
    <h1>V.M.G.O</h1>
    
    <a href="/">Home</a> | <a href="/contact">Contact</a>
    <a href="/about">About</a> | <a href="/service">Services</a>

    <p> Vision: To inspire and connect people through unique and meaningful artwork.</p>

    <p>  Mission: To create high-quality, personalized art that reflects the individuality and creativity of each client.</p>
        
    <p>  Goals:
        
        To consistently produce original and captivating artwork.
        To build a strong and loyal client base.
        To expand artistic skills and explore new mediums.</p>

        <p>  Objectives:
        
        Complete at least 10 commissioned pieces per month.
        Engage with clients regularly to understand their vision and preferences.
        Participate in art exhibitions and online platforms to showcase work.</p>
</body>
</html>